<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ekster</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Ekster - Microsub server</h1>

            <p><a href="/settings">Settings</a></p>
            
            {{ if .Session.LoggedIn }}
            
            SUCCESS Me = {{ .Session.Me }}

            <h2 class="title">Logout</h2>

            <form action="/auth/logout" method="post">
                <button type="submit" class="button is-info">Logout</button>
            </form>
            {{ else }}
            <h2 class="title">Sign in to Ekster</h2>

            <form action="/auth" method="post">
                <div class="field">
                    <label class="label" for="url"></label>
                    <div class="control">
                        <input type="text" name="url" id="url" class="input" placeholder="https://example.com/">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info">Login</button>
                    </div>
                </div>
            </form>
            {{ end }}
        </div>
    </section>
</body>
</html>
